<header class="empty-box"></header>
<header>
  <mat-toolbar color="primary">
    <span>NYT</span>
    <nav class="nav-btns">
      <button mat-button [routerLink]="['/articles']">Articles</button>
      <button mat-button [routerLink]="['/best']">The Best</button>
    </nav>
    <div class="lang">
      <mat-select [formControl]="language">
        <mat-option *ngFor="let lang of languages" [value]="lang">
          {{lang }}
        </mat-option>
      </mat-select>
    </div>
  </mat-toolbar>
  <div class="nav-tabs">
    <nav mat-tab-nav-bar backgroundColor="primary" color="accent">
      <a mat-tab-link [routerLink]="['/articles']"
              #tabLink
      >Articles</a>
      <a mat-tab-link [routerLink]="['/best']"
      >The Best</a>
    </nav>
  </div>
</header>


