<header class="empty-box"></header>
<header>
  <mat-toolbar color="primary">
    <span>NYT</span>
    <nav class="large-only nav-btns">
      <button mat-button [routerLink]="['/articles']">Articles</button>
      <button mat-button [routerLink]="['/best']">The Best</button>
    </nav>
    <!-- Languages not used now-->
    <div class="lang">
      <mat-select [formControl]="language">
        <mat-option *ngFor="let lang of languages" [value]="lang">
          {{lang }}
        </mat-option>
      </mat-select>
    </div>
  </mat-toolbar>
  <div class="small-only nav-tabs">
    <nav mat-tab-nav-bar backgroundColor="primary" color="accent">
      <a mat-tab-link [routerLink]="['/articles']"
              (click)="isActive('a')"
              [active]="isActiveArt"
      >Articles</a>
      <a mat-tab-link [routerLink]="['/best']"
              (click)="isActive('b')"
              [active]="isActiveBest"
      >The Best</a>
    </nav>
  </div>
</header>


