.column {
  display: flex;
  flex-direction: column;
}
.columns-wrapper {
  padding: 0 8px;
  display: flex;
}
@media screen and (max-width: 464px) {
  .column {
    width: 100%;
  }
}
@media screen and (min-width: 464px) and (max-width: 896px){
  .column {
    width: 50%;
  }
}
@media screen and (min-width: 896px) and (max-width: 1328px){
  .column {
    width: (100%/3);
  }
}
@media screen and (min-width: 1328px) and (max-width: 2160px){
  .column {
    width: 25%;
  }
}
