@import "../../variables";
div {
  min-height: 100%;
}
mat-progress-bar {
  position: fixed;
  top: $header-height;
  left: 0;
}
@media screen and (max-width: 400px) {
  mat-progress-bar {
    top: $small-header-height;
  }
}
